@model EnvironmentEditModel
@{
    Layout = "~/Views/Shared/_Layout_Edit.cshtml";
}
<div class="page-container">
    @using (Html.BeginForm("Edit", "Environment", FormMethod.Post, new { @class = "form form-horizontal", @id = "form-edit" }))
    {
        @Html.Partial("_Partial_Edit")
    }
</div>
@section Script{
   <script src="~/Content/JS/CommonJs/CommonEdit.js"></script>
}