/.vs
/ConfigManage.WebManage/obj
/ConfigManage.WebManage/bin
/ConfigManager.Application/obj
/ConfigManager.Application/bin
/ConfigManager.Cache/obj
/ConfigManager.Cache/bin
/ConfigManager.Constant/obj
/ConfigManager.Constant/bin
/ConfigManager.Domain/obj
/ConfigManager.Domain/bin
/ConfigManager.DomainService/obj
/ConfigManager.DomainService/bin
/ConfigManager.Infrastructure/obj
/ConfigManager.Infrastructure/bin
/ConfigManager.Repository/obj
/ConfigManager.Repository/bin
/ConfigManager.TransDto/obj
/ConfigManager.TransDto/bin
/ConfigManager.UnitOfWork/obj
/ConfigManager.UnitOfWork/bin
/JQ/obj
/JQ/bin
/JQ.DataAccess/obj
/JQ.DataAccess/bin
/JQ.Dependency/obj
/JQ.Dependency/bin
/JQ.Redis/obj
/JQ.Redis/bin
/JQ.Web/bin
/JQ.Web/obj
